:root {
  --text-primary: #fbf5f3;
  --text-secondary: #f0f0f0;

  --bg-primary: #0f0f0f;
  --bg-secondary: #1d1d1d;

  --color-primary-main: #e28413;
  --color-primary-light: #e79a3d;
  --color-primary-dark: #b96d10;

  --color-secondary-main: #23967f;
  --color-secondary-light: #4ba996;
  --color-secondary-dark: #1d7b68;

  --transition-speed: 300ms;

  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body * {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary-main);
}

a {
  color: inherit;
}
