:root {
  --text-primary: #f3f3fb;
  --text-secondary: #f0f0f0;

  --bg-primary: #0f0f0f;
  --bg-secondary: #1d1d1d;

  --color-primary-main: #18f0f0;
  --color-primary-light: #72ffff;
  --color-primary-dark: #00bdbe;

  --color-secondary-main: #ff1860;
  --color-secondary-light: #ff628d;
  --color-secondary-dark: #c50037;

  --transition-speed: 300ms;

  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary-main);
}

a {
  color: inherit;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
}
